@import url('https://fonts.googleapis.com/css?family=Poppins:400,700,900');
*{
    margin: 0;
    padding: 0;
    font-family:'poppins' ,sans-serif;
}
body{
    background-image: url(images/gb.jpg);
    background-size: cover;
}
.topnav{
    top: 10px;
    left: 0%;
    position: sticky;
    text-align:right;
}
.topnav ul {
    top:0%;
    list-style: none;
    background-color:black;
    height: 80px;
}
.topnav ul li a{
    display: block;
    padding: 20px;
    text-decoration: none;
    float: right;
}

.topnav img{
    top: 0;
    left: 0%;
    float: left;
    height: 90px;
    width: 90px;
    border-top: 2px solid orangered;
    border-radius: 40px;
   margin: 10px;
}
