@import url('https://fonts.googleapis.com/css?family=Poppins:400,700,900');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
a {
    text-decoration: none;
    display:inline-block;
}
ul{
    list-style: none;
}
body{
    color: black;
}
header{
    height: 60px;
    position: fixed; 
    left: 0%;
    top: 0%;
    width: 100%;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content:space-between;
    z-index: 100;
}
.logo{
    pointer-events: pointer;
}
.topnav{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: none;
}
.mainmenu{
    display: flex;
    pointer-events: visible;
}
.mainmenu li a{
    text-transform: capitalize;
    font-size: 1.5rem;
    color:white;
}
.mainmenu li a.active{
    color:orange;
    opacity: 1;
}
.mainmenu li {
    margin-left: 84px;
}
.mainmenu li a:hover
{
    color:orange;
    opacity: 1;
}
.sidemenu{
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.sidemenu li a em {
    font-size: 2em;
    color: white;
    transition: .5s;
}
.sidemenu li{
    margin-left: 30px;
}
.sidemenu li a em:hover{
    transform: translateY(-5px);
    color: orange;
    transition: .5s;
    
}


.mainfooter{
    background-color: #545454;
    display: flex;
    padding: 20px;
    box-sizing: border-box;
}
.mainfooter span{
    color: orange;
    font-size: 1.5em;
    text-decoration: capitalize;
}
.mainfooter span::after{
   content: '';
   width: 0%;
   height: 2px;
   background: orange;
   display: block;
   margin: auto;
   transition: .5s;
}
.mainfooter span:hover::after{
   width: 100%;
}

.About::after,
.Follow::after,
.info::after{
    content: '';
    width: 0%;
    height: 2px;
    background: orange;
    display: block;
    margin: auto;
    transition: .5s;
    top: 10px;
}
.About:hover::after,
.Follow:hover::after,
.info:hover::after{
    width: 100%;
}

.About,
.Follow,
.info{
    margin-left: 50px;
    font-size: 20px;
}
.mainfooter ul li {
    font-size: 15px;
    margin: 10px;
    padding: 10px;
    transition: 2s;
}
.mainfooter .About ul li:hover{
    pointer-events: none;
    color: black;
}
.mainfooter ul li:hover{
    color: orange;
    transition: 1s;
}
.mainfooter ul li em{
    font-size: 30px;
}
.mainfooter .facebook em{
    color:blue;
}
.mainfooter .instagram em{
    color: #cd486b;

}
.mainfooter .twitter em{
    color: #00acee;
}
.bottomcredits{
    color: black;
    background-color: #383838;
    text-align: center;
    font-weight: 500;
}
    /* <--------------------footer ends -------------> */
.bikes{
    height: auto;
    width: 100%;
    background-color:white;
    margin-top: 60px;
    margin-bottom: 50px;
}

.btnadd{
color: white;
background-color: black;
padding: 20px;
margin-top: 5px;
margin-left: 4px;
border-radius: 5px;
}
.btnadd:hover{
    color: black;
    background-color: white;
    border: black 2px solid;

}


.cycleshower{
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    margin: 20px;
}

.image{
    border: 2px solid black;
    padding: 10px;
    margin: 10px;
    display: grid;
    height: auto;
    width: 180px;
    transition: .5s;
    
}
.image:hover{
    transform: scale(0.9);
    transition: .5s;
    background-color: orange;

}
.image img{
    border: 1px solid black;
    height: 200px;
    width: 150px;
}
.container{
    display: flex;
    flex-wrap: wrap;

}
.data1{
    text-transform: capitalize;
}
























