@import url('https://fonts.googleapis.com/css?family=Poppins:400,700,900');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
a {
    text-decoration: none;
    display:inline-block;
}
ul{
    list-style: none;
}
body{
    color: black;
}
header{
    height: 60px;
    position: fixed; 
    left: 0%;
    top: 0%;
    width: 100%;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content:space-between;
    z-index: 110;
    transition: 0.3s;
}
.logo{
    pointer-events: none;
}
.topnav{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: none;
}
.mainmenu{
    display: flex;
    pointer-events: visible;
}
.mainmenu li a{
    text-transform: capitalize;
    font-size: 1.5rem;
    color:white;
}
.mainmenu li a.active{
    color:orange;
    opacity: 1;
}
.mainmenu li {
    margin-left: 84px;
}
.mainmenu li a:hover
{
    color:orange;
    opacity: 1;
}

.sidemenu{
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.sidemenu li a em {
    font-size: 2em;
    color: white;
    transition: .5s;
}
.sidemenu li{
    margin-left: 30px;
}
.sidemenu li a em:hover{
    transform: translateY(-5px);
    color: orange;
    transition: .5s;
    
}
.mainpage{
    background-color: white;
    height: 100vh;
    width: 100%;
    color: black; 
}
.box{
    background-image: url(./../images/background.jpg);
    background-size: cover;
    min-height: 800px;
    width: 100%;
    display: flex;
    align-items:baseline;
    justify-content: flex-end;
    padding: 30px;
}
.box .content {
   display: grid;
   margin-top: 100px;
 }
 .box .content span{
     font-size: 2rem;
     justify-content: space-between;
     margin-top: 60px;
      pointer-events: none;
 }
 .box .content h1{
   color:black;
   text-transform:uppercase;
    font-weight: 500;
    margin-top: 20px;
    pointer-events: none;
    margin-bottom: 20px;
 }
 .box .content p{
     color: orange;
     font-size: 2rem;
     text-transform: uppercase;
     background-color: black;
     padding: 2px;
     padding-left: 5px;
     pointer-events: none;

 }
 .box .content .btn{
     color:black;
     padding-left: 2px;
     font-size: 2rem;
     border: 1px black solid;
     transition: 1s;
 }
 .box .content .btn:hover{
     color:black;
     background-color: rgba(255, 115, 0, 0.919);
    padding-left: 50%;
    transition: 1s;
 }

 .second_menu{
     background-color: transparent;
     width: 100%;
     position: absolute;
     z-index: 100;
     margin-top: 30px;
 }
 .downmenu{
     display: inline-flex;
     float: right;
     color: white;
     border:orange 2px solid;
     border-top: 0%;
     border-bottom-left-radius: 40px;
     background-color: black;
 }
 .downmenu li a{
     color: white;
     padding: 5px 10px;
     padding-left: 20px;
     font-size: 1em;
     text-transform: capitalize;
     font-weight:500;
    
 }
 .downmenu li a:hover{
     color: orange;
     
     
 }
 .nav-hidden{
     transform: translateY(-60px);

 }
 .search-box{
     height: 60px;
     width: 60px;
     margin-right: 10px;
     transition: all 0.5s 0.2s ease;
 }
 .search-box.active{
     width: 250px;
     transition: all 0.5s 0.2s ease;
 }
 .search-box input{
     width: 100%;
     height: 40px;
     border: none;
     border-radius: 50px;
     font-size: 18px;
     margin: 10px 0 10px 0;
     padding: 0 40px 0 20px;
     outline: none;
     opacity: 0;
     transition: all 0.5s 0.2s ease;
 }
 .search-box input.active{
     opacity: 1;
     transition: all 0.5s 0.2s ease;
     

 }
 .search-box .search-btn{
     height: 35px;
     width: 35px;
     color: white;
     background-color: black;
     position: absolute;
     font-size: 30px;
     text-align: center;
     border-radius: 50px;
     top: 0;
     right: 200px;
     margin-top: 12px;
     cursor: pointer;
     z-index: 1;
     transition: all 0.5s 0.2s ease;
 }
 .search-box .search-btn:hover{
     color: orange;
     transform: rotate(-360deg);
     transition: 0.2s;
 }
 .search-box .search-btn.active{
    color: orange;
    background-color: black;
    transform: rotate(360deg);
    transition: all 0.5s 0.2s ease;
 }

 .search-box .cancel{
    height: 40px;
    width: 40px;
    padding: 0 5px 0 5px;
    color: orange;
    position: absolute;
    font-size: 40px;
    text-align: center;
    top: 0;
    right: 200px;
    margin-top: 5px;
    cursor: pointer;
    transition: all 0.5s 0.2s ease;
 }
 .search-box .cancel.active{
     right: 162px;
     transform: rotate(360deg);
     transition: all 0.5s 0.2s ease;
 }
 .search-data{
     font-size: 20px;
     margin: 5px;
     background-color: black;
     color: white;
     text-align: center;
     justify-content: center;
     align-items: center;
     word-wrap: break-word;
     display: grid;
 }
 .search-data.active{
     display: none;
 }
 .search-data img{
     margin-left: 30%;
 }
 .search-data.active img{
     display: none;
 }

/* <-------------------------------------------------------section1 navbar ------------------------------> */

.mainfooter{
    background-color: #545454;
    display: flex;
    padding: 20px;
    box-sizing: border-box;
}
.mainfooter span{
    color: orange;
    font-size: 1.5em;
    text-decoration: capitalize;
}
.mainfooter span::after{
   content: '';
   width: 0%;
   height: 2px;
   background: orange;
   display: block;
   margin: auto;
   transition: .5s;
}
.mainfooter span:hover::after{
   width: 100%;
}

.About,
.Follow,
.info{
    margin-left: 50px;
    font-size: 20px;
}
.About::after,
.follow::after,
.info::after{
    content: '';
    width: 0%;
    height: 2px;
    background: orange;
    display: block;
    margin: auto;
    transition: .5s;
    top: 10px; 
}
.About:hover::after,
.follow:hover::after,
.info:hover::after{
    width: 100%;
}
.mainfooter ul li {
    font-size: 15px;
    margin: 10px;
    padding: 10px;
    transition: 2s;
}
.mainfooter .About ul li:hover{
    pointer-events: none;
    color: black;
}
.mainfooter ul li:hover{
    color: orange;
    transition: 1s;
}
.mainfooter ul li em{
    font-size: 30px;
}
.mainfooter .facebook em{
    color:blue;
}
.mainfooter .instagram em{
    color: #cd486b;

}
.mainfooter .twitter em{
    color: #00acee;
}
.bottomcredits{
    color: black;
    background-color: #383838;
    text-align: center;
    font-weight: 500;
}

/* <----------------------------------------------------footerends-----------------------------------> */
.banner button{
    z-index: 200;
    pointer-events:cursor;
}



/* <-------------------------------------------------section1--------------------------------------> */
.banner{
    height: 300px;
    width: 100%;
    margin-top: 30px;
    position: relative;
    margin-bottom: 50px;
    background-image: url(./../images/ocsec1.jpg);
    background-size: cover;
    text-align: center;
    justify-content: center;
    overflow: hidden;
}
.banner img{
    position: absolute;
    width: 1400px;
    top: 0;
    left: 0;
}
.banner h1{
    font-size: 80px;
    z-index: 20;    
    transform: translate(-500px, 206px);
    font-weight: 300;
}
.btn-holder{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 70px;
    text-align: center;
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;
}
.btn-holder button{
    height: 70px;
    width: 150px;
    border: 1px solid grey;
    font-weight: 300;
    background-color: transparent;
    
}
.btn-holder button:hover{
    color: orange;
    background-color: rgb(220, 220, 220);
    font-size: 1em;
}
.btn1{
    margin-left: 200px;
}
.image-container{
    width: 80%;
    height: 100%;
        margin-left: 10%;
        margin-right: 10%;
    background-color:white;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap ;
}
.img-box{
    width: 100%;
    height: 100%;
    background-color:white;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap ;

}
.imageholder{
    height: 300px;
    width: 300px;
    position: relative;
    padding: 20px;
    z-index: 20;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.imageholder img{
    max-height: 100%;
    max-width: 100%;
    transition: .5s;
}
.imageholder .layer{
    height: 100%;
    width: 100%;
    background-color: transparent;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    text-align: center;
    justify-content: center;
    padding: 30px;
    opacity: 0;
    transform: scale(0.1);
}
.imageholder .layer h1{
    font-size: 2em;
    color: white;
}
.imageholder .layer p{
    font-size: 1em;
    font-weight: 300;
    color: orange;
}
.view-btn{
    color: white;
    background-color: transparent;
    font-size: 1.2em;
    margin-top: 30px;
    padding: 10px 20px;
    border: 1px solid orange;
    border-radius: 40px; 
}
.view-btn:hover{
    background-color: white;
    color: black;
    z-index: 30;
    border: 1px solid black;
}
.imageholder:hover img{
    transform: scale(4);
    transition: .5s;
}
.imageholder:hover .layer{
    opacity: 1;
    transform: scale(0.8);
    transition: .5s;
    background-color:rgba(20, 20, 30, 0.7);
}

/* <-----------------------------------------------js ative----------------------------------------------> *

















