@import url('https://fonts.googleapis.com/css?family=Poppins:400,700,900');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
a {
    text-decoration: none;
    display:inline-block;
}
ul{
    list-style: none;
}
body{
    color: black;
}
header{
    height: 60px;
    position: fixed; 
    left: 0%;
    top: 0%;
    width: 100%;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content:space-between;
    z-index: 100;
}
.logo{
    pointer-events: none;
}
.topnav{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: none;
}
.mainmenu{
    display: flex;
    pointer-events: visible;
}
.mainmenu li a{
    text-transform: capitalize;
    font-size: 1.5rem;
    color:white;
}
.mainmenu li a.active{
    color:orange;
    opacity: 1;
}
.mainmenu li {
    margin-left: 84px;
}
.mainmenu li a:hover
{
    color:orange;
    opacity: 1;
}
.sidemenu{
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.sidemenu li a i {
    font-size: 2em;
    color: white;
    transition: .5s;
}
.sidemenu li{
    margin-left: 30px;
}
.sidemenu li a i:hover{
    transform: translateY(-5px);
    color: orange;
    transition: .5s;
    
}
.mainpage{
    background-color: white;
    height: 110vh;
    width: 100%;
    color: black; 
}
.box{
    background-image: url(./../images/background.jpg);
    background-size: cover;
    min-height: 800px;
    width: 100%;
    display: flex;
    align-items:baseline;
    justify-content: flex-end;
    padding: 30px;
    
  
}
.box .content {
   display: grid;
   margin-top: 100px;
 }
 .box .content span{
     font-size: 2rem;
     justify-content: space-between;
     margin-top: 60px;
      pointer-events: none;
 }
 .box .content h1{
   color:black;
   text-transform:uppercase;
    font-weight: 500;
    margin-top: 20px;
    pointer-events: none;
    margin-bottom: 20px;
 }
 .box .content h2{
     color: orange;
     font-size: 2rem;
     text-transform: uppercase;
     background-color: black;
     padding: 2px;
     padding-left: 5px;
     pointer-events: none;

 }
 .box .content .btn{
     color:black;
     padding-left: 2px;
     font-size: 2rem;
     border: 1px black solid;
     transition: 1s;
 }
 .box .content .btn:hover{
     color:black;
     background-color: rgba(255, 115, 0, 0.919);
    padding-left: 50%;
    transition: 1s;
 }

/* <-----------------------.mainfooter---------------------> */

 .mainfooter{
     background-color: #545454;
     display: flex;
     padding: 20px;
     box-sizing: border-box;
 }
 .mainfooter span{
     color: orange;
     font-size: 1.5em;
     text-decoration: capitalize;
 }
.mainfooter span::after{
    content: '';
    width: 0%;
    height: 2px;
    background: orange;
    display: block;
    margin: auto;
    transition: .5s;
}
.mainfooter span:hover::after{
    width: 100%;
}

.About::after,
.follow::after,
.info::after{
    content: '';
    width: 0%;
    height: 2px;
    background: orange;
    display: block;
    margin: auto;
    transition: .5s;
    top: 10px;
}
.About:hover::after,
.follow:hover::after,
.info:hover::after{
    width: 100%;
}

 .About,
 .Follow,
 .info{
     margin-left: 50px;
     font-size: 20px;
 }
 .mainfooter ul li {
     font-size: 15px;
     margin: 10px;
     padding: 10px;
     transition: 2s;
 }
 .mainfooter .About ul li:hover{
     pointer-events: none;
     color: black;
 }
 .mainfooter ul li:hover{
     color: orange;
     transition: 1s;
 }
 .mainfooter ul li i{
     font-size: 30px;
 }
 .mainfooter .facebook i{
     color:blue;
 }
 .mainfooter .instagram i{
     color: #cd486b;

 }
 .mainfooter .twitter i{
     color: #00acee;
 }
 .bottomcredits{
     color: black;
     background-color: #383838;
     text-align: center;
     font-weight: 500;
 }
 
 
/* <-----------------------.mainfooter---------------------> */

.shopbox{
    width: 98%;
    margin: auto;
    text-align: center;
    padding-top: 50px;
    background: white;
}
.shopbox .firstimg{
    flex-basis: 32%;
    border-radius: 10px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
    width: 30%;
    height: 500px;
}
.shopbox .firstimg img{
    width: 100%;
}