@import url('https://fonts.googleapis.com/css?family=Poppins:400,700,900');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
a {
    text-decoration: none;
    display:inline-block;
}
ul{
    list-style: none;
}
body{
    color: black;
}
header{
    height: 60px;
    position: fixed; 
    left: 0%;
    top: 0%;
    width: 100%;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content:space-between;
    z-index: 110;
    transition: 0.3s;
}
.logo{
    pointer-events: none;
}
.topnav{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: none;
}
.mainmenu{
    display: flex;
    pointer-events: visible;
}
.mainmenu li a{
    text-transform: capitalize;
    font-size: 1.5rem;
    color:white;
}
.mainmenu li a.active{
    color:orange;
    opacity: 1;
}
.mainmenu li {
    margin-left: 84px;
}
.mainmenu li a:hover
{
    color:orange;
    opacity: 1;
}

.sidemenu{
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.sidemenu li a em {
    font-size: 2em;
    color: white;
    transition: .5s;
}
.sidemenu li{
    margin-left: 30px;
}
.sidemenu li a em:hover{
    transform: translateY(-5px);
    color: orange;
    transition: .5s;
    
}
.mainpage{
    background-color: white;
    height: 100vh;
    width: 100%;
    color: black; 
}
.box{
    background-image: url(./../images/background.jpg);
    background-size: cover;
    min-height: 800px;
    width: 100%;
    display: flex;
    align-items:baseline;
    justify-content: flex-end;
    padding: 30px;
}
.box .content {
   display: grid;
   margin-top: 100px;
 }
 .box .content span{
     font-size: 2rem;
     justify-content: space-between;
     margin-top: 60px;
      pointer-events: none;
 }
 .box .content h1{
   color:black;
   text-transform:uppercase;
    font-weight: 500;
    margin-top: 20px;
    pointer-events: none;
    margin-bottom: 20px;
 }
 .box .content p{
     color: orange;
     font-size: 2rem;
     text-transform: uppercase;
     background-color: black;
     padding: 2px;
     padding-left: 5px;
     pointer-events: none;

 }
 .box .content .btn{
     color:black;
     padding-left: 2px;
     font-size: 2rem;
     border: 1px black solid;
     transition: 1s;
 }
 .box .content .btn:hover{
     color:black;
     background-color: rgba(255, 115, 0, 0.919);
    padding-left: 50%;
    transition: 1s;
 }

 .second_menu{
     background-color: transparent;
     width: 100%;
     position: absolute;
     z-index: 100;
     margin-top: 60px;
 }
 .downmenu{
     display: inline-flex;
     float: right;
     color: white;
     border:orange 2px solid;
     border-top: 0%;
     border-bottom-left-radius: 40px;
     background-color: black;
 }
 .downmenu li a{
     color: white;
     padding: 5px 10px;
     padding-left: 20px;
     font-size: 1em;
     text-transform: capitalize;
     font-weight:500;
    
 }
 .downmenu li a:hover{
     color: orange;
     
     
 }
 .nav-hidden{
     transform: translateY(-60px);

 }
 .search-box{
     height: 60px;
     width: 60px;
     margin-right: 10px;
     transition: all 0.5s 0.2s ease;
 }
 .search-box.active{
     width: 250px;
     transition: all 0.5s 0.2s ease;
 }
 .search-box input{
     width: 100%;
     height: 40px;
     border: none;
     border-radius: 50px;
     font-size: 18px;
     margin: 10px 0 10px 0;
     padding: 0 40px 0 20px;
     outline: none;
     opacity: 0;
     transition: all 0.5s 0.2s ease;
 }
 .search-box input.active{
     opacity: 1;
     transition: all 0.5s 0.2s ease;
     

 }
 .search-box .search-btn{
     height: 35px;
     width: 35px;
     color: white;
     background-color: black;
     position: absolute;
     font-size: 30px;
     text-align: center;
     border-radius: 50px;
     top: 0;
     right: 200px;
     margin-top: 12px;
     cursor: pointer;
     z-index: 1;
     transition: all 0.5s 0.2s ease;
 }
 .search-box .search-btn:hover{
     color: orange;
     transform: rotate(-360deg);
     transition: 0.2s;
 }
 .search-box .search-btn.active{
    color: orange;
    background-color: black;
    transform: rotate(360deg);
    transition: all 0.5s 0.2s ease;
 }

 .search-box .cancel{
    height: 40px;
    width: 40px;
    padding: 0 5px 0 5px;
    color: orange;
    position: absolute;
    font-size: 40px;
    text-align: center;
    top: 0;
    right: 200px;
    margin-top: 5px;
    cursor: pointer;
    transition: all 0.5s 0.2s ease;
 }
 .search-box .cancel.active{
     right: 162px;
     transform: rotate(360deg);
     transition: all 0.5s 0.2s ease;
 }
 .search-data{
     font-size: 20px;
     margin: 5px;
     background-color: black;
     color: white;
     text-align: center;
     justify-content: center;
     align-items: center;
     word-wrap: break-word;
     display: grid;
 }
 .search-data.active{
     display: none;
 }
 .search-data img{
     margin-left: 30%;
 }
 .search-data.active img{
     display: none;
 }

/* <-----------------------.mainfooter---------------------> */

 .mainfooter{
     background-color: #545454;
     display: flex;
     padding: 20px;
     box-sizing: border-box;
     margin-top: 20px;
 }
 .mainfooter span{
     color: orange;
     font-size: 1.5em;
     text-decoration: capitalize;
 }
.mainfooter span::after{
    content: '';
    width: 0%;
    height: 2px;
    background: orange;
    display: block;
    margin: auto;
    transition: .5s;
}
.mainfooter span:hover::after {
    width: 100%;
}

.About::after,
.Follow::after,
.info::after{
    content: '';
    width: 0%;
    height: 2px;
    background: orange;
    display: block;
    margin: auto;
    transition: .5s;
}
.About:hover::after,
.Follow:hover::after,
.info:hover::after{
    width: 100%;
}

 .About,
 .Follow,
 .info{
     margin-left: 50px;
     font-size: 20px;
 }
 .mainfooter ul li {
     font-size: 15px;
     margin: 10px;
     padding: 10px;
     transition: 2s;
 }
 .mainfooter .About ul li:hover{
     pointer-events: none;
     color: black;
 }
 .mainfooter ul li:hover{
     color: orange;
     transition: 1s;
 }
 .mainfooter ul li em{
     font-size: 30px;
 }
 .mainfooter .facebook em{
     color:blue;
 }
 .mainfooter .instagram em{
     color: #cd486b;

 }
 .mainfooter .twitter em{
     color: #00acee;
 }
 .bottomcredits{
     color: black;
     background-color: #383838;
     text-align: center;
     font-weight: 500;
 }
 
 
/* <-----------------------.mainfooter ends---------------------> */

/*<----------------------------section 2 ----------------------->*/

.shopbox{
    width: 100%;
    text-align: center;
    background: white;
    position: relative;
    padding: 50px;
}
.shopbox h1{
    font-size: 60px;
}
.shopbox h4{
    font-size: 20px;
    text-decoration: underline;
}
.shopbox .bikes{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}
.shopbox .firstimg{
    border-radius: 10px;
    margin: 40px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
    width: 300px;
    
}
.shopbox .firstimg img{
    width: 100%;
    height: 250px;
}
.layer{
    background-color: transparent;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.5s;  
}
.layer:hover{
    background-color: rgba(20, 20, 30, 0.7);
    
}
.layer h3,h2{
    width: 100%;
    color: white;
    font-weight: 500;
    font-size: 25px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    text-transform: capitalize;
    opacity: 0;
    transition: 1s;
}
.layer h4{
    width: 100%;
    color: white;
    font-weight: 500;
    font-size: 25px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    text-transform: capitalize;
    opacity: 0;


}
.layer a{
    color: black;
}
.layer:hover h4{
    bottom: 35%;
    opacity: 1;
    background-color: orange;
}
.layer a:hover{
    color: orange;
    background-color:#3c3c3c;
    width: 300px;
    
}
.layer:hover h3{
    bottom: 49%;
    opacity: 1;
    transition: 0.5s;
}
.firstimg:hover h2{
opacity: 0;
}
.firstimg h2{
    opacity: 1;
}
.firstimg img{
    transition: 1s;
}
.firstimg:hover img{
    transform: scale(1.5);
    transition: 1s;
}

/* <------------------------------------section 3 --------------------------------------> */
.Recent_Products{
    width: 90%;
    background-color: white; 
    height: 550PX;
    position:   relative;
    text-align: left;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 10px;
    box-sizing: border-box;
    border: 10px orange double;
    
}
.Recent_Products h1{
    padding: 10px;
    color: #3c3c3c ;
    font-size: 2em;
    font-weight:600;
   
}
.recentholder{
    display: inline-flex;
    width: 100%;

   
}
.recentholder .arrows{
    padding: 10px;
    
}
.recentholder .arrows button{
   font-size: 2em; 
   color: #3c3c3c;
   font-weight: 900;
   border: transparent;
   border-radius: 80px;
   padding-right: 10px;
   padding-left: 10px;
   background-color: rgb(252, 193, 85);
   transition: 1s;

}
.recentholder .arrows button:hover{
    color: white;
    background-color: black ;
    transition: 0.5s;
}
.products_holder{
    width: 100%;
    height: 450px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    overflow: scroll;

}
.holder1{
    display: grid;
    box-sizing: border-box;
    margin-left: 30px;
    width: 250px;
    border: 5px #383838 ridge;
    overflow: hidden;
    background: white;
    margin-top: 15px;


}
.imageholder{
    width: 220px;
    height: 220px;
    position: relative;
    overflow: hidden;
    margin: 10px;
}
.imageholder:hover img{
    filter: blur(2px);
}
.imagelayer{
    background-color: transparent;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.5s; 
    text-align: center;
    box-sizing: border-box;
}
.imagelayer ul{
    display: flex;
    width: 100%;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    text-transform: capitalize;
    opacity: 0;
    margin: 40px;
    margin-bottom: 0%;
    transition: 1s;

}

.imagelayer ul li  a{
    color: white;
    z-index: 200;
    display: block;
    font-size: 1.5em;
    padding-left: 5px;
    padding-right: 5px;
    background-color: black;
    margin: 10px;
    border-radius: 30px;
    transition: .5s;
}
.imagelayer ul li a:hover{
    color: black;
    background-color: orange;
    transform: translateY(5px);
    transition: .5s;
}
.imageholder:hover .imagelayer ul{
    bottom: 35%;
    opacity: 1;
    transition: .5s;
}
.infoholder{
    display: grid;
    width: 80%;
    margin: 10%;
    margin-top: 0%;
}
.holder1:hover .infoholder{
    transform: scale(1.1);
    transition: .1s;
}
.infoholder p{
    font-size: 1em;
    font-weight: 400;
    padding: 2px;
    color: black;
    text-transform: capitalize;
}
.infoholder p span{
    color: gold;
}
.infoholder button{
    background-color: #3c3c3c;
    color: white;
    border: 2px black solid;
    margin-bottom: 5px;
    font-weight: 200;
    text-transform: capitalize;
    text-align: center;
    padding: 2px;
}
.infoholder button:hover{
    background-color: orange;
    color: black;
}

.tooltip{
    position: relative;
    cursor: pointer;
    align-items: center;
    text-align: center;
    width: 20px;
    z-index: 1;
}
.tooltext{
    position: absolute;
    bottom: -50px;
    left: -30px;
    color: white;
    font-size: 20px;
    background-color: black;
    padding: 5px 15px;
    border-radius: 50px;
    margin: 5px;
    opacity: 0;
    z-index: 0;
}

.tooltip:hover .tooltext{
    margin-bottom: 100px;
    opacity: 1;
    transition: 0.5s;
}
/* <-----------------------------------section4 best deals-------------------------------------> */
.best-deals{
    width: 90%;
    background-color: white; 
    height: 550PX;
    position:   relative;
    text-align: left;
    margin-right: 5%;
    margin-left: 5%;
    margin-bottom: 10px;
    box-sizing: border-box;
    border: 10px black double;
}
.best-deals-holder{
    display: inline-flex;
    flex-direction: row;
}
.best-deals-holder h1{
    padding: 10px;
    color:orange ;
    font-size: 2em;
    font-weight:600;
}
.best-deals .best-deals-holder .arrows{
    padding: 10px;

}
.best-deals .best-deals-holder .arrows button{
    font-size: 2em; 
    color: white;
    font-weight: 900;
    border: transparent;
    border-radius: 80px;
    padding-right: 10px;
    padding-left: 10px;
    background-color: #545454;
    transition: .5s;
}
.best-deals-holder .arrows button:hover{
    color: orange;
    background-color: black;
}
.cycle-holder{
    width: 100%;
    height: 450px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    overflow: scroll;
}

/* <-----------------------------------section5 card container ------------------------------> */

.card-container{
    width: 80%;
    height: 100px;
    position: relative;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 4%;
    margin-bottom: 4%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.card-container .card1 .card-img{
    height: 100px;
    width: 100px;
    position: relative;
    overflow: hidden;
}
.card-container .card1 .card-img img{
    height:80px;
    width: 80px;
    margin: 10px;
    transform: translateX(-40px);
    transition: 0.5s;
}
.card-container .card1{
    display: inline-flex;
    width: 100%;
    height: 85px;
    background-color: #545454;
    border: 1px orange double;
    position: relative;
    margin: 30px;
}
.card-container .card1 .card-text{
    height: 100px;
    width: 250px;
    position: relative;
    padding: 5px 15px;
    transform: translateX(-20px);
    transition: 0.5s;

}
.card-container .card1 .card-text h1{
    color: orange;
}
.card-container .card1:hover .card-img img{
    transform: translateX(0);
    transition: 0.5s;
}
.card-container .card1:hover .card-text{
    transform: translateX(0);
    transition: 0.5s;
}
.card-container .card1 .card-img .money{
    height: 110px;
    width: 110px;
}
.card-container .card1 .card-img .hrs{
    height: 70px;
    width: 80px;
}
/* <------------------------------------------------------ section-5 review section ------------------------------------------------------> */

.review-head{
    text-align: center;
    padding: 20px;
    margin-top: 50px; ;
    font-size: 3em;
    text-transform: capitalize ;
}
.review-holder{
    height: 300px;
    width: 100%;
    position: relative;
    box-sizing: border-box;
    background: url(./../images/banc.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment:fixed;
    background-position:center ;
    align-items: center;
    justify-content: center;
}

.review-container{
    height: 80%;
    width: 90%;
    margin: 20px 40px 20px 40px;
    background-color: transparent;
    filter: none;
    z-index: 2;
    position: absolute;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
}
.review-image{
    height: 150px;
    width: 150px;
    position: sticky;
   
}
.review-holder .review-image img{
    max-width: 100%;
    max-height: 100%;
    border-radius: 200px;
    border: 2px solid orange;
    transition: 0.5s;
    opacity: 0;
    transform: translateX(-150%);
}
.review-holder .review-text{
    height: 200px;
    width: 600px;
    display: grid;
    position: relative;
    align-items: center;
    text-align: center;
    margin: 10px;
    background-color: white;  
    border: 5px solid black ;
    border-right: 5px orange double;
    border-bottom: 5px orange double;
    z-index: 2;
    pointer-events: none;
    opacity: 0;
    transform: translateX(-150%);
    transition: 0.5s;
   }

.review-text p{
    font-weight: 500px;
    padding: 10px;
    max-width: 100%;
    max-height: 100%;
}
.review-text  h1{
    font-size: 2em;
    text-align: right;
    margin-right:20px;
    margin-bottom: 5px;
    text-transform: capitalize;
    
}
.review-holder:hover .review-image img{
    margin-left: 50px;
    transition: 0.8s;
    opacity: 1;
    transform: translateX(0);

}
.review-holder:hover .review-text{
    opacity: 1;
    transform: translateX(0);
    transition: 0.5s;
}
.review-holder:hover .review-btn{
    right: 0;
    opacity: 1;
}
.review-holder:hover .review-subject{
    opacity: 0;
}
.review-btn {
     padding: 2px 10px;
     position: absolute;
     font-size: 1.5em;
     background-color: transparent;
     border: 2px solid black;
     opacity: 0;
    
    }
    .review-btn:hover{
        color: orange;
        border: 2px solid orange;
    }
    .review-subject{
        position: absolute;
        border: 5px double orange;
        background-color: rgba(20, 20, 30, 0.7);
    }
    .review-subject h1{
        color:white;
         text-align: center;
         text-transform: capitalize;
         padding: 10px;
    }
   /* <-------------------------------------------------section 6 news -----------------------------------------------------> */
   .news-letter{
       width: 80%;
       margin: 5% 10% 5% 10%;
       height: 100px;
       border: 10px double black;
   }
   .news-holder{
       max-height: 100%;
       max-width: 100% ;
       display: inline-flex;
       flex-direction: row;
       padding: 10px 0px 10px 10px;
   }
   .news-holder em{
       font-size: 4em;
       color: orange;
       border: 1px solid grey;
   }
   .news-letter h1{
       padding: 2px 10px;
       letter-spacing: -1px;
   }
   .news-letter{
       padding: 0 10px;
   }
   .news-letter p{
       padding: 0 10px;
       font-weight: 300px;
       text-transform: capitalize;
   }
   .news-holder form{
    display: flex;
    flex-direction: row;
    padding: 2px 20px;
   }
   .news-holder form input{
       margin: 5px 10px 5px 0px;
       height: 40px;
       outline: none;
       border: none;
       padding: 10px;
       background-color: rgb(213, 205, 205);
       
   }
   .news-holder form button{
       height: 40px;
       background-color: orange;
       padding: 5px;
       margin: 5px 0px 5px 0px;
       border: none;
       opacity: 0.7;
   }
   .news-holder form button:hover{
       opacity: 1;
   }