@import url('https://fonts.googleapis.com/css?family=Poppins:400,700,900');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
a {
    text-decoration: none;
    display:inline-block;
}
ul{
    list-style: none;
}
body{
    color: black;
}
header{
    height: 60px;
    position: fixed; 
    left: 0%;
    top: 0%;
    width: 100%;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content:space-between;
    z-index: 110;
    transition: 0.3s;
}

.topnav{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: none;
}
.mainmenu{
    display: flex;
    pointer-events: visible;
}
.mainmenu li a{
    text-transform: capitalize;
    font-size: 1.5rem;
    color:white;
}
.mainmenu li a.active{
    color:orange;
    opacity: 1;
}
.mainmenu li {
    margin-left: 84px;
}
.mainmenu li a:hover
{
    color:orange;
    opacity: 1;
}

.sidemenu{
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.sidemenu li a em {
    font-size: 2em;
    color: white;
    transition: .5s;
}
.sidemenu li{
    margin-left: 30px;
}
.sidemenu li a em:hover{
    transform: translateY(-5px);
    color: orange;
    transition: .5s;
    
}
.mainpage{
    background-color: white;
    height: 80vh;
    width: 100%;
    color: black; 
}
.box{
    background-image: url(./../images/background.jpg);
    background-size: cover;
    background-position: center;
    background-size: cover;
    min-height: 800px;
    width: 100%;
    display: flex;
    align-items:baseline;
    justify-content: flex-end;
    padding: 30px;
}

.box .content {
   display: grid;
   margin-top: 100px;
 }
 .box .content span{
     font-size: 2rem;
     justify-content: space-between;
     margin-top: 60px;
      pointer-events: none;
 }
 .box .content h1{
   color:black;
   text-transform:uppercase;
    font-weight: 500;
    margin-top: 20px;
    pointer-events: none;
    margin-bottom: 20px;
 }
 .box .content p{
     color: orange;
     font-size: 2rem;
     text-transform: uppercase;
     background-color: black;
     padding: 2px;
     padding-left: 5px;
     pointer-events: none;

 }
 .box .content .btn{
     color:black;
     padding-left: 2px;
     font-size: 2rem;
     border: 1px black solid;
     transition: 1s;
 }
 .box .content .btn:hover{
     color:black;
     background-color: rgba(255, 115, 0, 0.919);
    padding-left: 50%;
    transition: 1s;
 }

 .second_menu{
     background-color: transparent;
     width: 100%;
     position: absolute;
     z-index: 100;
     margin-top: 60px;
 }
 .downmenu{
     display: inline-flex;
     float: right;
     color: white;
     border:orange 2px solid;
     border-top: 0%;
     border-bottom-left-radius: 40px;
     background-color: black;
 }
 .downmenu li a{
     color: white;
     padding: 5px 10px;
     padding-left: 20px;
     font-size: 1em;
     text-transform: capitalize;
     font-weight:500;
    
 }
 .downmenu li a:hover{
     color: orange;
     
     
 }
 .nav-hidden{
     transform: translateY(-60px);

 }
 .search-box{
     height: 60px;
     width: 60px;
     margin-right: 10px;
     transition: all 0.5s 0.2s ease;
 }
 .search-box.active{
     width: 250px;
     transition: all 0.5s 0.2s ease;
 }
 .search-box input{
     width: 100%;
     height: 40px;
     border: none;
     border-radius: 50px;
     font-size: 18px;
     margin: 10px 0 10px 0;
     padding: 0 40px 0 20px;
     outline: none;
     opacity: 0;
     transition: all 0.5s 0.2s ease;
 }
 .search-box input.active{
     opacity: 1;
     transition: all 0.5s 0.2s ease;
     

 }
 .search-box .search-btn{
     height: 35px;
     width: 35px;
     color: white;
     background-color: black;
     position: absolute;
     font-size: 30px;
     text-align: center;
     border-radius: 50px;
     top: 0;
     right: 200px;
     margin-top: 12px;
     cursor: pointer;
     z-index: 1;
     transition: all 0.5s 0.2s ease;
 }
 .search-box .search-btn:hover{
     color: orange;
     transform: rotate(-360deg);
     transition: 0.2s;
 }
 .search-box .search-btn.active{
    color: orange;
    background-color: black;
    transform: rotate(360deg);
    transition: all 0.5s 0.2s ease;
 }

 .search-box .cancel{
    height: 40px;
    width: 40px;
    padding: 0 5px 0 5px;
    color: orange;
    position: absolute;
    font-size: 40px;
    text-align: center;
    top: 0;
    right: 200px;
    margin-top: 5px;
    cursor: pointer;
    transition: all 0.5s 0.2s ease;
 }
 .search-box .cancel.active{
     right: 162px;
     transform: rotate(360deg);
     transition: all 0.5s 0.2s ease;
 }
 .search-data{
     font-size: 20px;
     margin: 5px;
     background-color: black;
     color: white;
     text-align: center;
     justify-content: center;
     align-items: center;
     word-wrap: break-word;
     display: grid;
 }
 .search-data.active{
     display: none;
 }
 .search-data img{
     margin-left: 30%;
 }
 .search-data.active img{
     display: none;
 }
